.profilePic-container {
  display: inline;
  height: 11rem;
  width: 11rem;
}

.profilePic-container img {
  display: inherit;
  margin: 2rem 4.5rem;
  height: inherit;
  width: inherit;
  border-radius: 80px;
}
